:root {
    --orange: rgb(250, 108, 24);
    --light: #F7F7F7;
    --dark: #323643;
    --dark-light: #606470;
    --font1: 'Electrolize', sans-serif;
    --font2: 'JetBrains Mono', monospace;
    --font3: 'Open Sans', sans-serif;
    --font4: 'Open Sans Condensed', sans-serif;
  }


* {
    box-sizing: border-box;

}

body {
    margin: 0 0;
    padding: 0;
}

.head-div {
    background-image: url("./images/image-head.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    color: var(--orange)
}

.head-div h1 {
    font-family: var(--font1);
    font-size: 70pt;
    margin-right: 5%;
    text-align: right;
    font-weight: bold;
}

.menu {
    margin: 25% 5%;
}

.menu h2 {
    font-family: var(--font2);
    font-weight: bold;
}